.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}
.login-conditon{
    font-size: 20px;
}

/* Development commit #1 */

/* Development commit #2 */

/* Development commit #1 */
